<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }} - {{ sitetitle }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{# if description }}
    <meta name="description" content="{{ description }}">
    {{ else }}
    <meta name="description" content="{{ site.description }}">
    {{/ if }}
    <meta name="theme-color" content="#583154" />

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="assets/ico/favicon-152.png">
    <link href="/assets/css/formatting.css" rel="stylesheet">
    <link href="/assets/fonts/futura-pt/stylesheet.css" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/gallery-script.js"></script>
</head>
