<nav class="projects_menu" role="navigation">
    <div class="projects_menu-list">
        {{# each collections.projects }}
        <div class="project_menu-item {{#is this.path @root.path }}active{{/is}}">
            <a href="/{{ this.path }}" class="projects_menu-link"><img src="/{{ this.path }}/{{ this.image }}"/></a><br>
            <a href="/{{ this.path }}" class="projects_menu-link">{{ this.title }}</a> | <em>{{ date this.date }}</em>
        </div>
        {{/ each }}
    </ul>
</nav>
