{{> doc-head }}
<link href="/assets/css/projects.css" rel="stylesheet">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<body class="project">
    {{> header }}

    <main>
        <div id="project-wrapper">
        <div id="slideshowWrapper">
            <div class="slider-nav">
            <a href="#" class="prev">Prev</a> / <a href="#" class="next">Next</a>
            <a href="#" class="slideshow_toggle_thumbnails">Thumbnails</a>
            </div>
            <div id="slideshow">
                <div class="slider">
                <img src="/src/projects/images/piefingers/4265.jpg"/>
                <img src="/src/projects/images/piefingers/89781.jpg"/>
                <img src="/src/projects/images/piefingers/25184.jpg"/>
                <img src="/src/projects/images/piefingers/39517.jpg"/>
                <img src="/src/projects/images/piefingers/81357.jpg"/>
                <img src="/src/projects/images/piefingers/98534.jpg"/>
                </div><!-- close slider -->
                <div class="slideshow_thumbnails">
                    <img src="/src/projects/images/piefingers/4265.jpg"/>
                    <img src="/src/projects/images/piefingers/89781.jpg"/>
                    <img src="/src/projects/images/piefingers/25184.jpg"/>
                    <img src="/src/projects/images/piefingers/39517.jpg"/>
                    <img src="/src/projects/images/piefingers/81357.jpg"/>
                    <img src="/src/projects/images/piefingers/98534.jpg"/>
                </div><!-- close slideshow_thumbnails -->
            </div><!-- close slideshow -->
         </div><!-- close slideshowWrapper -->
            <h1>{{ title }}</h1>
            <h3>{{ description }}</h3>
            {{{ contents }}}
            <div class="project_nav">
                {{#if previous}}
                <a class="prev" href="{{{previous.url}}}">&larr; Prev</a>
                {{/if}}
                {{#if next}}
                <a class="next right" href="{{{next.url}}}">Next &rarr;</a>
                {{/if}}
            </div>
        </div>    
        {{> project-nav }}
    </main>

    {{> footer }}
</body>
</html>
