{{> doc-head }}
<link href="/assets/css/projects.css" rel="stylesheet">
<body class="project">
    {{> header }}

    <main>
        <div id="project-wrapper">
            <div class="project-img"><img src="{{image}}"/></div>
            <h1>{{ title }}</h1>
            <h3>{{ description }}</h3>
            {{{ contents }}}
            <div class="project_nav">
                {{#if previous}}
                <a class="prev" href="/{{{previous.url}}}">&larr; Prev</a>
                {{/if}}
                {{#if next}}
                <a class="next right" href="/{{{next.url}}}">Next &rarr;</a>
                {{/if}}
            </div>
        </div>    
        {{> project-nav }}
    </main>

    {{> footer }}
</body>
</html>
