{{> doc-head }}
<body class="project">
    {{> header }}

    <main>
        <div id="project-wrapper">
            <div class="imageWrapper">
            <div class="project-img"><img src="{{image}}"/></div>
            </div>
            <div class="text-contents">
            <div class="project_nav">
             
                    <a class="prev" href="{{{previous.url}}}">&#9664;</a>
            
                    <a href="/" class="grid-icon grid-icon--line2">
                    <span class="layer layer--primary">
                    <span></span><span></span>
                    </span>
                    <span class="layer layer--secondary">
                    <span></span><span></span>
                    </span>
                    </a>
        
                    <a class="next right" href="{{{next.url}}}">&#9654;</a>
            
            </div>
            <h1>{{ title }}</h1>
            {{{ contents }}}     
        </div>    
    </main>

    {{> footer }}
</body>
</html>
