{{> doc-head }}
<body class="project">
    {{> header }}

    <main>
        <div id="project-wrapper">
            <div class="imageWrapper">
            <div class="project-img"><img src="{{image}}"/></div>
            </div>
            <div class="text-contents">
            <div class="project_nav">
                <div class="project_arrows">
                    <a href="{{{previous.url}}} class="project_prev link prev" rel="prev_project">
                        <svg viewBox="0 0 10 10" height="10" width="10" version="1.1">
                            <polygon class="nav_svg" points="10,10 0,5 10,0 "/>
                        </svg>
                        <div class="loadspin">
                            <img src="/_gfx/loadingAnim.gif" height="10" width="10" />
                        </div>
                    </a>

                    <a href="/" class="project_close link">
                        <svg viewBox="0 0 13 13" height="13" width="13" version="1.1">
                            <rect class="nav_svg" width="5" height="5"/>
                            <rect class="nav_svg" x="8" width="5" height="5"/>
                            <rect class="nav_svg" x="8" y="8" width="5" height="5"/>
                            <rect class="nav_svg" y="8" width="5" height="5"/>
                        </svg>
                        <div class="loadspin">
                            <img src="assets/img/loadingAnim.gif" height="10" width="10" />
                        </div>
                    </a>

                    <a href="{{{next.url}}} class="project_next link next" rel="next_project">
                        <svg viewBox="0 0 10 10" height="10" width="10" version="1.1">
                            <polygon class="nav_svg" points="0,0 10,5 0,10 "/>
                        </svg>
                        <div class="loadspin">
                            <img src="assets/img/loadingAnim.gif" height="10" width="10" />
                        </div>
                    </a>
                </div>
            </div>
            <h1>{{ title }}</h1>
            {{{ contents }}}     
        </div>    
    </main>

    {{> footer }}
</body>
</html>
